# Copy this file into your project root as .env to setup your environment.

# Valid as "dev" or "prod"
ENVIRONMENT=dev

# psql credentials... Ignored if using dev-docker.
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST=postgres

# Uncomment this line if you want to use postgresql in the dev environment,
# otherwise keep commented.  Will be set by docker container also if using docker
#DEV_IN_POSTGRES=yes

#Recaptcha for google
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

#Sentry
SENTRY_DSN=
