# Copy this file into your project root as .env to setup your environment.

# Valid as "dev" or "prod"
ENVIRONMENT=dev

# psql credentials...
DB_NAME=inia
DB_USER=root
DB_PASSWORD=pass
DB_PORT=3306
DB_HOST=localhost

# Uncomment this line if you want to use postgresql in the dev environment, otherwise keep commented.
#DEV_IN_POSTGRES=yes

#Recaptcha for google
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=