{% load static %}
<h2 class="nomargin">Multiple Gene Search (Dataset Summary)</h2>
<div class="outputLinksAnalysis">
    <strong>Dataset Summary</strong> |
    <a href="{% url 'inia:gene_network' %}{% if inputs %}?id={{ inputs.id }}{% endif %}">Gene Network</a> |
    <a href="{% url 'inia:overrepresentation_analysis' %}{% if inputs %}?id={{ inputs.id }}{% endif %}">Overrepresentation Analysis</a> |
    <a href="{% url 'inia:dataset_network' %}{% if inputs %}?id={{ inputs.id }}{% endif %}">Dataset Network</a>
	<p class="small analysis">
        <a href="">Download CSV</a>
        <a class="" href="/help#csv" target="_blank">
            <i class="fa fa-download"></i></a>
    </p>
</div>
<script type="text/javascript">
	$(".datasetLoading").show();
</script>
<br>
<noscript><h4>id here</h4></noscript>
<div id="agTitleWrapper">
	<div id="agTitleInfo" class="" onclick="$('#agTitle').focus()" style="display: none;">
	</div>
</div>

<script type="text/javascript" src="{% static "js/allgenesTitle.js" %}"></script>
<p><strong>{{ result_table|length }}</strong> result(s)</p>
<div id="missingwrapper" class="small">
    <p>- Genes marked with a (*) do not have a HomoloGene ID</p>
    <p>- {{ not_found|length }} were not found in any IT-GED {{ inputs.species }} datasets and do not match any homologene
    for {{ inputs.species }}.  <a href="#" class="show-not-found">Click to show</a></p>

<div class="not-found">
    {{ not_found|join:', ' }}
</div>

{% if result_table %}
    </p></div>Click a gene symbol to view detailed IT-GED information for that gene.
    <table class="table result-table">
        <tbody>
        <tr>
            <td class="col-name">Gene Symbol (human)</td>
            <td class="col-name">Gene Symbol (mouse)</td>
            <td class="col-name">Gene Symbol (rat)</td>
            <td class="col-name">Number of different datasets</td>
            <td class="col-name">Datasets</td>
        </tr>
        <!-- generate tr for each gene symbol -->
        {%  for row in result_table %}
            <tr class="search ">
            {%  if row.homologene_id %}
                <td class="search"><a href="/search?gene={{ row.homologene_id }}[HOMOLOGENE_ID]&output=html">{{ row.HOMO_SAPIENS|default:'-' }}</a></td>
                <td class="search"><a href="/search?gene={{ row.homologene_id }}[HOMOLOGENE_ID]&output=html">{{ row.MUS_MUSCULUS|default:'-' }}</a></td>
                <td class="search"><a href="/search?gene={{ row.homologene_id }}[HOMOLOGENE_ID]&output=html">{{ row.RATTUS_NORVEGICUS|default:'-' }}</a></td>
            {%  else %}
                <td class="search"><a href="/search?gene={{ row.ncbi_uid_query }}&output=html">{{ row.HOMO_SAPIENS|default:'-' }}</a></td>
                <td class="search"><a href="/search?gene={{ row.ncbi_uid_query }}&output=html">{{ row.MUS_MUSCULUS|default:'-' }}</a></td>
                <td class="search"><a href="/search?gene={{ row.ncbi_uid_query }}&output=html">{{ row.RATTUS_NORVEGICUS|default:'-' }}</a></td>
            {% endif %}

                <td class="search">{{ row.num_datasets }}</td>
                <td class="search">
                {% for d in row.datasets %}
                    <a href="/publications?id={{ d.id }}">{{ d.name }}</a>,
                {% endfor %}
                </td>
             </tr>
        {%  endfor  %}
        </tbody>
    </table>
    {% if inputs %}
        Yoou can access this dataset for 48 hours here: <a href="{{ request.get_full_path }}">{{ request.get_full_path }}</a>
    {% endif %}
{% else %}
    - {{ genes|length }} gene(s) were not found in any IT-GED {{ request.POST.species }} datasets
        and do not match any HomoloGene ID for {{ request.POST.species }}. </p></div>
{% endif %}
	<br><hr><strong>New dataset</strong>:
