{% load static %}
<nav id="sidebar">
        <div class="sidebar-header">
            <a class="nav-link" href="{% url 'inia:index' %}">
                <img src="{%static 'images/inia_logo.png' %}" />
            </a>
        </div>

        <ul class="list-unstyled components">
            <p class="sidebar-text-reg">Gene Symbol, Gene Name,
                Unique ID, or HomoloGene ID: <br />
                <small>- Search for multiple genes at once</small> <br />
                <small>- Wildcards and quotes</small> </p>
            <form method="get" action="{% url 'inia:search' %}">
                <input type="text" name="gene" placeholder="ex: *AMCA 'ion channel'" value="" required/> <br/>
                <button name="output" value="html" type="submit">Quick Search Database <i class="fa fa-search"></i></button>


            </form>
        </ul>

    </nav>