<div class="info-box wildcards">
    <p>
        <strong><a href="help#wildcards">Wildcards</a></strong>:
        <br> <strong>*</strong> matches zero or more characters
        <br> <strong>~</strong> matches exactly one character
        <br> <strong>?</strong> matches one or zero characters
        <br> <strong>^</strong> matches the beginning of the result
        <br> <strong>$</strong> matches the end of the result
        <br> Use <strong>"</strong> or <strong>'</strong> to surround exact phrases</p>
</div>