{% extends "base.html" %}
{% load static %}
{% load inia_extras %}

{% block content %}
<h2><strong>SEARCH</strong></h2>
    <br />
    <form id="search_form" action="{% url 'inia:search' %}" method="get" />
        <input type="hidden" name="output" value="html" />
        <input type="text" name="gene" placeholder="ex: *AMCA 'ion channel'" value="{{ request.GET.gene }}" />
        {% exclude_name_form_checkbox request %} <br />
    Filters:
    {% advanced_gene_search_filters_as_table request %}
    <br/>
    <button type="submit" class="search-page-search-button">Search <i class="fa fa-search"></i></button> <br />
    </form>
    {% if errors %}
        <div class="search-error">
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if not genes %}
        Enter some values to search IT-GED.
        {% else %}
        <p>Dataset Summary | View Gene Network | Overrepresentation Analysis | <a href="?{{ urlencode }}">Download CSV</a></p>
        <div class="pagination">
            <span class="step-links">
        {% if genes.has_previous %}
            <a href="?{{ urlencode }}&page=1">&laquo; first</a>
            <a href="?{{ urlencode }}&page={{ genes.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            <br />Page {{ genes.number }} of {{ genes.paginator.num_pages }}.
        </span>

        {% if genes.has_next %}
            <a href="?{{ urlencode }}&page={{ genes.next_page_number }}&output=html">next</a>
            <a href="?{{ urlencode }}&page={{ genes.paginator.num_pages }}&output=html">last &raquo;</a>
        {% endif %}

    </span>
</div>
<h3>Total results:{{ total_results }}</h3>

<div class="table-responsive">
        <table class="table result-table">
        <tr>
        <td class="col-name">Gene Symbol</td>
        <td class="col-name">Gene Name</td>
        <td class="col-name">Aliases</td>
        <td class="col-name">Gene Expression Platform</td>
        <td class="col-name">Probe/Gene ID</td>
        <td class="col-name">Species</td>
        <td class="col-name">Ethanol/Treatment</td>
        <td class="col-name">Brain region/Cell type</td>
        <td class="col-name">P-value</td>
        <td class="col-name">Direction of Change</td>
        <td class="col-name">Est FDR</td>
        <td class="col-name">Dataset</td>
        <td class="col-name">Reference</td>
        </tr>
        {% for gene in genes %}
            <tr>
            <td> {% if not gene.gene_symbol %}
                -
            {% else %}
                <a target="_blank" href='https://www.ncbi.nlm.nih.gov/gene?term="{{gene.gene_symbol}}"[Gene Name] AND "{{ gene.dataset.species }}"[Organism]' >
                {{ gene.gene_symbol }} <i class="fa fa-external-link"></i>
                </a>
            {% endif %}</td>
            <td>{{gene.gene_name}}</td>
            <td>{% if not gene.genealiases_set.all %} - {% else %}
                {%  for alias in gene.genealiases_set.all %}
                    {{ alias.symbol }},
                    {% endfor %}
            {% endif %}
            </td>
            <td>{{ gene.dataset.microarray }}</td>
            <td>{{ gene.uniqueID }}</td>
            <td>{{ gene.dataset.species }}</td>
            <td>{{ gene.dataset.treatment }}</td>
            <td>{{ gene.dataset.brain_region.name}}</td>
            <td>{{ gene.p_value }}</td>
            {% direction_tooltip gene.direction %}

            <td>{{ gene.fdr }}</td>
            <td id="tooltip" rel='tooltip' data-placement="left" data-original-title='<strong>{{ gene.dataset.name }}</strong><br /><strong>Alcohol on board</strong>: {{gene.dataset.alcohol|yesno:"YES,NO"}}<br/><strong>INIA Model</strong>: {{gene.dataset.model}}<br/><strong>Phenotype</strong>: {{ gene.dataset.phenotype }}<br/><strong>Paradigm</strong>: {{ gene.dataset.paradigm }}<br/><strong>Brain Region</strong>: {{ gene.dataset.brain_region.name }} ({{gene.dataset.brain_region.abbreviation }})<br/>'>
                <a href="{% url 'inia:search' %}?dataset={{ gene.dataset.name }}&output=html" />
                    {{ gene.dataset.name }}
                </a>
            </td>

            <td id="tooltip" rel='tooltip' data-placement="left" data-original-title='<strong>{{ gene.dataset.publication.htmlid }}</strong><br /><strong>Title</strong>: {{ gene.dataset.publication.title }}<br/><strong>Author</strong>: {{gene.dataset.publication.get_primary_author}} et al<br/><strong>Journal</strong>: {{ gene.dataset.publication.journal }}<br/><strong>Date</strong>: {{ gene.dataset.publication.get_submit_day }}<br/>'>
                <a href="{% url 'inia:datasets_home' %}" />
                {{ gene.dataset.publication.get_short_name }}
                </a>
            </td>



            </tr>
        {% endfor %}
        </table>
</div>
    {% endif %}
<br /><br/>
{% include '_wildcard_box.html' %}
{%  endblock %}